<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.forextracker"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity 
        android:name=".Welcome"
        android:label="@string/app_name" 
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        android:name=".ForexTracker"
        >
        </activity> 
		 <activity 
		 android:name=".MakeEntry"
		 >
		 </activity> 
		<activity 
		android:name=".ViewAllRecords"
		>
		</activity> 
		<activity 
		android:name=".SearchByName"
		>
		</activity> 
		<activity 
		android:name=".ShowEntriesForName"
		>
		</activity>
		<activity 
		android:name=".ShowEntriesForDate"
		>
		</activity> 
		<activity 
		android:name=".SettleAccount"
		>
		</activity>
		<activity 
		android:name=".ViewSummary"
		>
		</activity>
		<activity 
		android:name=".EditEntry"
		>
		</activity> 
		<activity 
		android:name=".DisplayCredits"
		>
		</activity>
    </application>


</manifest> 